.main {
  border-radius: 5px;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 100px auto 80px;
}
 
.item {
  grid-column: 1 / 3;
  grid-row: 1/ 2;
}
.test{
  background-clip: text;
  @include sp {
    margin-top: .8rem;
    padding: 0 .2rem .6rem 0;
  }
}

